a {
	color: blue;
	text-decoration:none;
}
.red {
	color: #ff0000;
}
.green {
	color: #00ff00;
}
.blue {
	color: #0000ff;
}
.type {
	color: gray;
	font-weight: medium;
}
.gotype {
	color: coral;
	font-weight: bold;
}
.struct {
	color: #000000;
	font-weight: bold;
}
.const {
	color: blue;
	font-weight: bold;
}

.hex {
	color: black;
	font-weight: medium;
}
